.rotator {
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -50%;
  color: $color--light;
  z-index: -2;
  width: 100vw;
  left: 50vw;
  transform: rotate(var(--rotatorDeg));
  font-weight: 200;
  font-size: 1rem;
  text-transform: uppercase;

  display: none;
  @include screen(lg) {
    display: block;
  }
  &--left {
    left: -50vw;
  }
}
